/* *{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
} */

.footer{
    width: 100vw;
    display: block;
    overflow: hidden;
    padding: 70px 0;
    box-sizing: border-box;
    margin-left: -150px;
    height: 10px;
    background-color: #18181a;
}
.inner_footer{
    display: block;
    margin: 0 auto;
    width: 1500px;
    height: 100%;
}